@import 'tailwindcss';

@theme {
  --font-sans: var(--font-roboto), system-ui, sans-serif;
  --font-display: var(--font-paytone-one), system-ui, sans-serif;

  --color-bg-main: #080d15;
  --color-bg-section: #233e60;

  --color-text-main: #ffffff;
  --color-text-accent: #fdff00;

  --color-button-primary: #fdff00;
  --color-button-secondary: #0076ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}
